DJANGO_SECRET_KEY=replace-this-with-a-long-random-value
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=powertrack
POSTGRES_USER=powertrack
POSTGRES_PASSWORD=powertrack
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
TIME_ZONE=Africa/Nairobi
